cappig.dev, www.cappig.dev {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }

    encode gzip zstd

    root * /srv

    @root path /
    rewrite @root /index.html

    @robots path /robots.txt
    rewrite @robots /static/robots.txt

    @fonts {
        path *.woff2 *.ttf
    }
    header @fonts Cache-Control "public, max-age=31536000, immutable"

    @css {
        path *.css
    }
    header @css Cache-Control "private, max-age=86400, stale-while-revalidate=604800"

    try_files {path} {path}.html /404.html

    file_server
}
