cappig.dev, www.cappig.dev {
    tls {
        dns cloudflare {env.CLOUDFLARE_API_TOKEN}
    }

    encode gzip zstd

    root * /srv

    @root path /
    rewrite @root /index.html

    @robots path /robots.txt
    rewrite @robots /static/robots.txt

    @fonts {
        path *.woff2 *.ttf
    }
    header @fonts Cache-Control "public, max-age=31536000, immutable"

    @katex {
        path_regexp ^/static/katex/
    }
    header @katex Cache-Control "public, max-age=31536000, immutable"

    @static {
        path *.css *.js
    }
    header @static Cache-Control "public, max-age=31536000"

    @images {
        path *.svg *.ico *.jpg *.jpeg *.png *.webp
    }
    header @images Cache-Control "public, max-age=15552000"

    try_files {path} {path}.html /404.html

    file_server
}
