@font-face {
    font-family: "PixelSans";
    src: url("../fonts/MSW98UI-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PixelSans";
    src: url("../fonts/MSW98UI-Regular.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Blox";
    src: url("../fonts/Blox2.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
