main article {
    padding-top: 1.5rem;
}

#article {
    width: 95%;
    margin: auto;
}

.article_title {
    font-size: 3.5rem;
    padding: 2rem 0 1.5rem;
    font-weight: 700;
    line-height: 2rem;
}

.article_date {
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

ul {
    padding-left: 1.5em;
}

h3 {
    margin: 3rem 0 1.5rem;
    font-weight: 600;
}

p {
    margin: 0.5rem 0;
}

@media (max-width: 1500px) {
    .article_title {
        font-size: 2.3rem;
    }

    .article_date {
        font-size: 1.3rem;
        padding-bottom: 1.5rem;
    }
}

@media (max-width: 1050px) {
    .article_title {
        font-size: 2rem;
    }

    .article_date {
        font-size: 1rem;
        padding-bottom: 1.5rem;
    }
}

@media (max-width: 800px) {
    .article_title {
        font-size: 1.8rem;
        padding: 1rem 0 1.5rem;
    }

    .article_date {
        font-size: 1rem;
        padding-bottom: 1.5rem;
    }
}
