@font-face {
    font-display: swap;
    font-family: 'UnifrakturCook';
    font-style: normal;
    font-weight: 700;
    src: url('/static/fonts/unifrakturcook-v24-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Noto Sans Egyptian Hieroglyphs';
    font-style: normal;
    font-weight: 400;
    src: url('/static/fonts/noto-sans-egyptian-hieroglyphs-v29-latin-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Fira Code';
    src: url('/static/fonts/FiraCode-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}
