@font-face {
    font-display: swap;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    src: url('/static/fonts/ibm-plex-mono-v19-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'IBM Plex Mono';
    font-style: italic;
    font-weight: 400;
    src: url('/static/fonts/ibm-plex-mono-v19-latin-italic.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 500;
    src: url('/static/fonts/ibm-plex-mono-v19-latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 600;
    src: url('/static/fonts/ibm-plex-mono-v19-latin-600.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'UnifrakturCook';
    font-style: normal;
    font-weight: 700;
    src: url('/static/fonts/unifrakturcook-v24-latin-700.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Noto Sans Egyptian Hieroglyphs';
    font-style: normal;
    font-weight: 400;
    src: url('/static/fonts/noto-sans-egyptian-hieroglyphs-v29-latin-regular.woff2') format('woff2');
}
