:root {
    --bg-primary: 255, 255, 244;
    --bg-secondary: 238, 238, 215;
    --text-primary: 35, 35, 35;
    --text-secondary: 65, 65, 65;
    --accent-hover: 18, 138, 140;
    --accent-light: 255, 172, 20;
}

[data-theme="dark"] {
    --bg-primary: 35, 35, 35;
    --bg-secondary: 55, 55, 55;
    --text-primary: 255, 255, 248;
    --text-secondary: 235, 235, 215;
    --accent-hover: 45, 175, 180;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-color: rgb(var(--bg-secondary)) rgba(var(--bg-secondary), 0.1);
}

::selection {
    background-color: rgba(var(--accent-hover), 0.35);
}

body {
    background: rgb(var(--bg-primary));
    color: rgb(var(--text-primary));
    max-width: 1000px;
    min-height: 100vh;
    padding: 2rem 0;
    margin: 0 auto;
    overflow-x: hidden;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    font-size: 1.1rem;
}

h2,
h3,
h4 {
    margin: 2em 0 1em;
    font-weight: 600;
}

p {
    margin: 1.5em 0;
}

abbr {
    cursor: help;
}

a {
    color: inherit;
    text-decoration: none;
}

strong {
    font-weight: 600;
}

button {
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    border: none;
    background: rgba(var(--bg-secondary), 0.4);
}

button:hover {
    background: rgb(var(--bg-secondary));
}

main {
    max-width: 800px;
    margin: 3rem auto;
    padding: 0 2em;
    font-weight: 400;
    line-height: 140%;
}

main a {
    color: rgb(var(--accent-hover));
    text-decoration: underline dotted 0.01rem;
    text-underline-offset: 0.2rem;
}

main a:hover {
    text-decoration: underline solid 0.1rem;
}

.no_color,
.no_color:hover {
    text-decoration: none;
    color: inherit;
}

ul {
    padding-left: 1.5em;
}

ol {
    padding-left: 2em;
}

img {
    max-width: 100%;
    height: auto;
}

.img_box {
    text-align: center;
    padding: 1em 0;
    color: rgb(var(--text-secondary));
}

.img_box img,
.img_box em {
    display: inline-block;
    margin: 0 auto;
    letter-spacing: -0.01em;
}

blockquote {
    border-left: 10px solid rgb(var(--bg-secondary));
    background-color: rgba(var(--bg-secondary), 0.1);
    padding: 0.8rem 1rem;
}

blockquote p {
    margin: 0;
}

details {
    margin: 2.5em 0;
    background-color: rgba(var(--bg-secondary), 0.2);
    padding: 1em;
}

details summary {
    cursor: pointer;
}

details summary:hover::marker {
    color: rgb(var(--accent-hover));
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

header a:hover {
    color: rgb(var(--accent-hover));
}

nav {
    display: flex;
    gap: 0.5rem;
    font-size: 110%;
}

nav * {
    padding: 1rem;
}

.title {
    position: relative;
    font-family: 'UnifrakturCook', serif;
    font-weight: 700;
    font-size: 330%;
    margin-left: 0.8em;
    white-space: nowrap;
}

.title::before,
.title::after {
    position: absolute;
    content: "";
    background-color: currentColor;
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;
}

.title::before {
    right: 4.3em;
    bottom: -0.3em;
    width: 1.4em;
    height: 1em;
    mask-image: url('/static/img/snake_l.svg');
    -webkit-mask-image: url('/static/img/snake_l.svg');
}

.title::after {
    left: 4.5em;
    top: -0.25em;
    width: 1em;
    height: 1.6em;
    mask-image: url('/static/img/snake_r.svg');
    -webkit-mask-image: url('/static/img/snake_r.svg');
}

.title:hover::before,
.title:hover::after {
    color: rgb(var(--accent-light));
}

article {
    margin: 2em 0;
    line-height: 160%;
}

.article_title {
    font-size: 180%;
    padding-bottom: 0.5rem;
    font-weight: 700;
    line-height: 2rem;
}

.article_date {
    color: rgb(var(--text-secondary));
}

.text_box {
    background: rgba(var(--bg-secondary), 0.25);
    border: 1px solid rgba(var(--bg-secondary), 0.6);
    color: rgb(var(--text-primary));
    margin: 0.5rem 0;
    padding: 1.1em 1.5em;
}

.text_box p {
    margin: 0.5em 0;
}

.text_box p:first-child {
    margin-top: 0;
}

.text_box p:last-child {
    margin-bottom: 0;
}

.line {
    width: 100%;
    height: 10px;
    margin: 1.5rem 0;
    background-color: rgb(var(--text-primary));
    mask: url('/static/img/line.svg?v=2') repeat-x;
    -webkit-mask: url('/static/img/line.svg?v=2') repeat-x;
    mask-size: 25rem auto;
    -webkit-mask-size: 25rem auto;
    mask-position: center;
    -webkit-mask-position: center;
}

.book,
.bookshelf,
.headpiece {
    width: 100%;
    background-color: rgb(var(--text-primary));
}

.book {
    max-height: 7rem;
    aspect-ratio: 5/1;
    mask: url('/static/img/book.svg') no-repeat center/contain;
    -webkit-mask: url('/static/img/book.svg') no-repeat center/contain;
}

.bookshelf {
    max-height: 7rem;
    aspect-ratio: 5/1;
    mask: url('/static/img/bookshelf.svg') no-repeat center/contain;
    -webkit-mask: url('/static/img/bookshelf.svg') no-repeat center/contain;
    display: inline-block;
    margin-top: 3rem;
}

.headpiece {
    height: auto;
    aspect-ratio: 16/5;
    mask: url('/static/img/headpiece.svg') no-repeat center/contain;
    -webkit-mask: url('/static/img/headpiece.svg') no-repeat center/contain;
}

.theme {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 4rem;
    height: 4rem;
}

.theme_icon {
    mask: url('/static/img/luna.svg') no-repeat center/contain;
    -webkit-mask: url('/static/img/luna.svg') no-repeat center/contain;
    aspect-ratio: 1/1;
    width: 100%;
    height: 70%;
    display: inline-block;
    vertical-align: middle;
    background: rgb(var(--text-primary));
}

.blog_hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 1.5em;
}

#index {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#index>div {
    width: 100%;
}

.posts .text_box {
    padding: 1em 1.5em;
}

#index_posts .text_box {
    padding: 0.8em 1.5em;
}

a .text_box:hover {
    background-color: rgba(var(--accent-hover), 0.2);
    border: 1px solid rgba(var(--accent-hover), 0.3);
}

.posts .text_box:last-child {
    margin-bottom: 1.2em;
}

.posts_head {
    padding-bottom: 0.8rem;
    text-align: center;
}

#post {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
}

#index_posts {
    margin-top: 1.5em;
}

.date,
.description {
    color: rgb(var(--text-secondary));
}

.date {
    font-weight: 400;
    font-size: 80%;
    display: flex;
    align-items: center;
    font-style: italic;
}

.description {
    margin-top: 0.3rem;
    font-weight: 400;
    font-size: 90%;
}

.footnote {
    margin-top: 5em;
    font-size: 80%;
}

.footnote hr {
    border: 1px solid rgb(var(--bg-secondary));
}

.katex-display {
    overflow: auto;
    margin: 0.5em 0;
    padding: 0.5em 0;
}

.not_found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.not_found main {
    width: 100%;
}

#not_found_back {
    width: fit-content;
    margin: auto;
}

.error_container {
    position: relative;
    display: inline-block;
    width: 100%;
    container-type: inline-size;
    margin-bottom: 1.5em;
}

.error_overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'UnifrakturCook', serif;
    font-size: 60cqw;
    color: rgb(var(--accent-light));
    mix-blend-mode: exclusion;
    animation: hue-rotate 10s linear infinite;
}

@keyframes hue-rotate {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

#build_date {
    margin-top: 3em;
}

article> :first-child {
    margin-top: 0;
}

article> :last-child {
    margin-bottom: 0;
}

@media (max-width: 1200px) {
    body {
        padding: 0.9rem 0;
    }

    header {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    .line {
        margin: 0.7rem 0;
    }

    .title {
        margin-left: 0;
    }
}

@media (max-width: 1050px) {
    .text_box {
        margin: 0;
    }

    .theme {
        width: 3rem;
        height: 3rem;
        bottom: 1.5rem;
        right: 1.5rem;
    }
}

@media (max-width: 800px) {
    .line {
        mask-size: 15rem auto;
        -webkit-mask-size: 15rem auto;
    }

    main {
        margin-top: 2rem;
    }

    main article {
        padding: 0;
    }

    body {
        font-size: 1rem;
    }

    #blurb {
        margin: 1rem 0;
    }

    .posts .text_box:last-child {
        margin-bottom: 1rem;
    }

    #post {
        flex-direction: column-reverse;
    }

    .posts_head {
        padding-bottom: 1rem;
    }
}

@media (max-width: 420px) {
    body {
        font-size: 0.9rem;
    }
}
