<!DOCTYPE html>
<html lang="en">

<head>
    {% include "partial/base_head.html" %}
    <link rel="stylesheet" href="/static/css/404.css">
    <meta name="description" content="cappig.dev - Cappig's personal blog/project repository">
    <title>cappig.dev | 404</title>
</head>

<body>
    {% include "partial/header.html" %}

    <main>
        <div class="container" id="not_found">
            <div class="four_container">
                <div class="four_oh_four">
                    X-X
                </div>
                <div class="four_text">
                    404 - page not found!
                    <br>
                    Go back <a href="/">home</a>.
                </div>
            </div>
        </div>
    </main>

    {% include "partial/theme_button.html" %}
</body>

</html>
