<!DOCTYPE html>
<html lang="en">

<head>
    {% include "partial/base_head.html" %}
    <meta name="description" content="cappig.dev - Cappig's personal blog/project repository">
    <title>cappig.dev | 404</title>
</head>

<body>
    {% include "partial/header.html" %}

    <main>
        <div class="container not_found" id="index">
            <p id="text_404_top">Error 404</p>
            <img src="/static/img/computer_kitten.jpg" alt="computer kitten">
            <p id="text_404_bottom"><i>The server kitty failed to locate the requested file!</i></p>
            <a id="text_404_bottom" href="/">Go back home ↩</a>
        </div>
    </main>

    {% include "partial/theme_button.html" %}
</body>

</html>
