<!DOCTYPE html>
<html lang="en">

<head>
    {% include "partial/base_head.html" %}
    <meta name="description" content="cappig.dev - Cappig's personal blog/project repository">
    <title>cappig.dev | 404</title>
</head>

<body>
    {% include "partial/header.html" %}

    <main>
        <div class="container not_found" id="index">
            <div class="hero">
                <a href="https://commons.wikimedia.org/wiki/File:Computer-kitten.jpg" target="_blank">
                    <img class="img_404" src="/static/img/computer_kitten.jpg" alt="computer kitten">
                </a>
                <p class=text_404>Error 404 - Page not found!</p>
            </div>
        </div>
    </main>

    {% include "partial/theme_button.html" %}
</body>

</html>
