<!DOCTYPE html>
<html lang="en">

<head>
    {% include "partial/base_head.html" %}
    <title>cappig.dev | about</title>
    <meta name="description" content="About me, Cappig, the owner of cappig.dev">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="cappig.dev">
    <meta property="og:title" content="cappig.dev | about">
    <meta property="og:description" content="About me, Cappig, the owner of cappig.dev">
    <meta property="og:url" content="https://cappig.dev/about">
    <meta property="og:image" content="https://cappig.dev/static/img/serpent.webp">
</head>

<body>
    {% include "partial/header.html" %}

    <main>
        <div class="article_title">About me</div>
        <article>
{{ content | safe }}

            <div class="text_box" id="build_date">
                Built on <i>{{ strftime('%B %d, %Y', gen_time) }}</i> at <i>{{ strftime('%H:%M:%S', gen_time) }} UTC</i> from commit <a target="_blank" href="https://github.com/cappig/blog/commit/{{ git_hash }}"><i>{{ git_hash }}</i></a>
            </div>
        </article>
    </main>

    {% include "partial/theme_button.html" %}
</body>

</html>
