<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/article.css">
    <title>cappig.dev | about</title>
</head>

<body>
    {% include "partial/header.html" %}

    <main>
        <div class="container" id="article">
            <div class="article_title">About me</div>

            <article>
{{ content | safe }}
            </article>

            <div class="text" style="margin-top: 1.5rem;">
                Site built on: <i>{{ time }}</i> (commit <a target="_blank" href="https://github.com/cappig/blog/commit/{{ git_hash }}"><i>{{ git_hash }}</i></a>)
            </div>
        </div>
    </main>

    {% include "partial/theme_button.html" %}

    <script src="/static/js/theme.js"></script>
</body>

</html>
