<!DOCTYPE html>
<html lang="en">

<head>
    {% include "partial/base_head.html" %}
    <meta name="description" content="About me, Cappig, the owner of cappig.dev">
    <title>cappig.dev | about</title>
</head>

<body>
    {% include "partial/header.html" %}

    <main>
        <div class="container" id="article">
            <div class="article_title">About me</div>

            <article>
{{ content | safe }}
            </article>

            <div class="text" style="margin-top: 3rem;">
                Site built on: <i>{{ strftime('%d/%m/%Y %H:%M:%S', now) }} UTC</i> (commit <a target="_blank" href="https://github.com/cappig/blog/commit/{{ git_hash }}"><i>{{ git_hash }}</i></a>)
            </div>
        </div>
    </main>

    {% include "partial/theme_button.html" %}
</body>

</html>
