<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/code.css">
    <link rel="stylesheet" href="/static/css/article.css">
    <title>cappig.dev | {{ title }}</title>
</head>

<body>
    {% include "partial/header.html" %}

    <main>
        <div class="container" id="article">
            <div class="article_title">{{ title }}</div>
            <div class="article_date">{{ date }}</div>

            <article>
{{ content | safe }}
            </article>
        </div>
    </main>

    {% include "partial/theme_button.html" %}

    <script src="/static/js/theme.js"></script>
</body>

</html>
