<!DOCTYPE html>
<html lang="en">

<head>
    {% include "partial/base_head.html" %}
    <link rel="stylesheet" href="/static/css/code.css">
    <link rel="stylesheet" href="/static/css/article.css">
    <title>cappig.dev | {{ title }}</title>
</head>

<body>
    {% include "partial/header.html" %}

    <main>
        <div class="container" id="article">
            <div class="article_title">{{ title }}</div>
            <div class="article_date">{{ date }}</div>

            <article>
{{ content | safe }}
            </article>
        </div>
    </main>

    {% include "partial/theme_button.html" %}
</body>

</html>
