<!DOCTYPE html>
<html lang="en">

<head>
    {% include "partial/base_head.html" %}
    <link rel="preload" href="/static/css/code.css?v={{ code_css_hash }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/static/css/code.css?v={{ code_css_hash }}"></noscript>
    {% include "partial/katex.html" %}
    <meta name="description" content="{{ description }}">
    <title>cappig.dev | {{ title }}</title>
</head>

<body>
    {% include "partial/header.html" %}

    <main>
        <div class="container" id="article">
            <div class="article_title">{{ title }}</div>
            <div class="article_date">{{ strftime('%d/%m/%Y', date) }}</div>

            <article>
{{ content | safe }}
            </article>
        </div>
    </main>

    {% include "partial/theme_button.html" %}
</body>

</html>
