<!DOCTYPE html>
<html lang="en">

<head>
    {% include "partial/base_head.html" %}
    <meta name="description" content="All blog posts published on cappig.dev">
    <title>cappig.dev | blog</title>
</head>

<body>
    {% include "partial/header.html" %}

    <main>
        <div class="container" id="index">
            <div class="posts">
                <div class="blog_hero">
                    <div class="book"></div>
                    <p>Cappig's blog posts (<a href="/blog/feed.xml">Atom feed</a>):</p>
                </div>

                {% for post in posts %}
                <a href="/blog/{{ post.slug }}" class="no_color">
                    <div class="text_box">
                        <div id=post>{{ post.title }} <span class="date">{{ strftime('%d/%m/%Y', post.date) }}</span></div>
                        <div class="description">{{ post.description }}</div>
                    </div>
                </a>
                {% else %}
                <p>... its lonely here</p>
                {% endfor %}
            </div>
        </div>
    </main>

    {% include "partial/theme_button.html" %}
</body>

</html>
