<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/fonts.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/blog.css">
    <title>cappig.dev</title>
</head>

<body>
    {% include "partial/header.html" %}

    <main>
        <div class="container" id="index">
            <div class="posts">
                <div class="blog_hero">
                    <div class="book"></div>
                    <p>Blog posts:</p>
                </div>

                {%- for post in posts %}
                <a href="/blog/{{ post.slug }}">
                    <div class="text">{{ post.title }}<span class="date">{{ post.date }}</span></div>
                </a>
                {%- else %}
                <p>... its lonely here</p>
                {%- endfor %}
            </div>
        </div>
    </main>

    {% include "partial/theme_button.html" %}
</body>

</html>
