<!DOCTYPE html>
<html lang="en">

<head>
    {% include "partial/base_head.html" %}
    <title>cappig.dev | blog</title>
    <meta name="description" content="All blog posts published on cappig.dev">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="cappig.dev">
    <meta property="og:title" content="cappig.dev | blog">
    <meta property="og:description" content="All blog posts published on cappig.dev">
    <meta property="og:url" content="https://cappig.dev/blog">
    <meta property="og:image" content="https://cappig.dev/static/img/serpent.png">
</head>

<body>
    {% include "partial/header.html" %}

    <main id="index">
        <div class="posts">
            <div class="blog_hero">
                <div class="book"></div>
                <p>Cappig's blog posts (<a href="/blog/feed.xml">Atom feed</a>):</p>
            </div>

            {% for post in posts %}
            <a href="/blog/{{ post.slug }}" class="no_color">
                <div class="text_box">
                    <div id=post>{{ post.title }} <span class="date">{{ strftime('%B %d, %Y', post.date) }}</span></div>
                    <div class="description">{{ post.description }}</div>
                </div>
            </a>
            {% else %}
            <p>... its lonely here</p>
            {% endfor %}
        </div>
    </main>

    {% include "partial/theme_button.html" %}
</body>

</html>
