<!DOCTYPE html>
<html lang="en">

<head>
    {% include "partial/base_head.html" %}
    <title>cappig.dev</title>
    <meta name="description" content="Cappig's personal blog/project repository">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="cappig.dev">
    <meta property="og:title" content="cappig.dev">
    <meta property="og:description" content="Cappig's personal blog/project repository">
    <meta property="og:url" content="https://cappig.dev">
    <meta property="og:image" content="https://cappig.dev/static/img/serpent.webp">
</head>

<body>
    {% include "partial/header.html" %}

    <main id="index">
        <div class="headpiece" title="Grotesque headpiece from the title page of Las Casas’ Brevissima relacion de la destruycion de las Indias, 1552"></div>

        <div class="text_box">
{{ index_blurb | safe }}
        </div>

        <div class="posts" id="index_posts">
            <div class="posts_head">Read my latest blog posts:</div>

            {% for post in latest_posts %}
            <a href="/blog/{{ post.slug }}" class="no_color">
                <div class="text_box" id="post">{{ post.title }}<span class="date">{{ strftime('%B %d, %Y', post.date) }}</span></div>
            </a>
            {% else %}
            <p>... its lonely here</p>
            {% endfor %}
        </div>
    </main>

    {% include "partial/theme_button.html" %}
</body>

</html>
