<!DOCTYPE html>
<html lang="en">

<head>
    {% include "partial/base_head.html" %}
    <link rel="stylesheet" href="/static/css/index.css">
    <meta name="description" content="cappig.dev - Cappig's personal blog/project repository">
    <title>cappig.dev</title>
</head>

<body>
    {% include "partial/header.html" %}

    <main>
        <div class="container" id="index">
            <div class="hero">
                <div class="headpiece"></div>
                <p>Hello, welcome to my little website!</p>
            </div>

            <div class="text" id="blurb">
{{ index_blurb | safe }}
            </div>

            <div class="posts">
                <div class="posts_head">Latest blog posts:</div>

                {%- for post in latest_posts %}
                <a href="/blog/{{ post.slug }}">
                    <div class="text" id="post">{{ post.title }}<span class="date">{{ post.date }}</span></div>
                </a>
                {%- else %}
                <p>... its lonely here</p>
                {%- endfor %}
            </div>
        </div>
    </main>

    {% include "partial/theme_button.html" %}
</body>

</html>
