<!DOCTYPE html>
<html lang="en">

<head>
    {% include "partial/base_head.html" %}
    <meta name="description" content="Interesting links from the world wide web">
    <title>cappig.dev | links</title>
</head>

<body>
    {% include "partial/header.html" %}

    <main>
        <div class="container" id="article">
            <div class="article_title">Interesting links</div>

            <article>
{{ content | safe }}
            </article>

            <div class="bookshelf"></div>
        </div>
    </main>

    {% include "partial/theme_button.html" %}
</body>

</html>
