<meta charset="utf-8">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
<link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
<link rel="alternate" title="Cappig's Atom feed" type="application/atom+xml" href="/blog/feed.xml">
<link rel="stylesheet" href="/static/css/style.css?v={{ style_css_hash }}">
<link rel="stylesheet" href="/static/css/font.css?v={{ font_css_hash }}">

<link rel="preload" href="/static/fonts/unifrakturcook-v24.woff2" crossorigin="anonymous" as="font" type="font/woff2" />
<link rel="preload" href="/static/fonts/ibm-plex-mono-v20-latin-500.woff2" crossorigin="anonymous" as="font" type="font/woff2" />
<link rel="preload" href="/static/fonts/ibm-plex-mono-v20-latin-600.woff2" crossorigin="anonymous" as="font" type="font/woff2" />
<link rel="preload" href="/static/fonts/ibm-plex-mono-v20-latin-700.woff2" crossorigin="anonymous" as="font" type="font/woff2" />
<link rel="preload" href="/static/fonts/ibm-plex-mono-v20-latin-italic.woff2" crossorigin="anonymous" as="font" type="font/woff2" />
<link rel="preload" href="/static/fonts/ibm-plex-mono-v20-latin-regular.woff2" crossorigin="anonymous" as="font" type="font/woff2" />
